<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SqlServer.ConnectionInfo.dll" version="1.0.1" targetFramework="net35" />
  <package id="Microsoft.SqlServer.Management.Sdk.Sfc.dll" version="1.0.1" targetFramework="net35" />
  <package id="Microsoft.SqlServer.Smo.dll" version="1.0.1" targetFramework="net35" />
  <package id="NUnit" version="3.6.0" targetFramework="net35" />
</packages>