# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
max_line_length = 100
guidelines = 100
end_of_line = lf
insert_final_newline = true
brace_style = end_of_line
new_line_before_catch = false
new_line_before_finally = false
new_line_before_else = false
space_after_cast = false
empty_block_style = together
align_multiline_binary_expressions_chain = false
space_within_single_line_array_initializer_braces = true

[*.{cs,html}]
indent_style = tab
indent_size = 4

[*.config]
indent_style = space
indent_size = 2
